:ruby
  title t('edit.edit.title', resource: @edit.editable, name: @edit.name)

  resource_singular = @edit.editable.class.to_s.parameterize

  @breadcrumbs = [
    { text: @edit.editable, link: url_for(@edit.editable) },
    { text: t('attributes.edits'), link: send("edits_#{resource_singular}_path", @edit.editable) },
    { text: @edit.name.capitalize }
  ]

.card
  .card-header= t('edit.edit.header', resource: @edit.editable, name: @edit.name)
  .card-body
    = form_with(model: @edit) do |form|
      .form-group
        = form.label :value, t("attributes.#{@edit.name}")
        = form.text_field :value, class: 'form-control', html: { 'aria-describedby': 'edit_value_info' }
        .invalid-feedback#edit_value_errors

      .actions.mt-4
        .d-flex
          .flex-grow-1
            = button_tag type: :submit, class: 'btn btn-primary mr-4' do
              %i.fas.fa-check
              %span.ml-1= t('form.save')

            = link_to t('form.cancel'), send("edits_#{resource_singular}_path", @edit.editable)

          .ml-2
            = link_to @edit, data: { method: :delete, confirm: t('confirm') }, class: 'btn btn-outline-danger' do
              %i.fa.fa-trash
              %span= t('button.destroy')
