$('.is-invalid').removeClass('is-invalid')

<% if @edit.errors.any? %>

  <%- @edit.errors.each do |attribute, error| %>
    $('#edit_<%= attribute %>').addClass('is-invalid')
    $('#edit_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
