- title 'Confirm email'
.card
  .card-header Confirm email
  .card-body

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|

      .form-group
        = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: 'email', class: 'form-control',
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

      - if flash[:recaptcha_error]
        .alert.alert-danger.alert-dismissible.fade.show.mt-3{ role: :alert }
          = flash[:recaptcha_error]
          %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
      = recaptcha_v3(action: 'confirmation/resend')

      .d-flex.justify-content-between.mt-5
        %div
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-paper-plane
            %span.ml-1 Resend confirmation

        .text-right
          = render 'devise/shared/links'
