:ruby
  title "Edit #{@source.kind.capitalize} source for #{@show.title}"

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @source.show, link: show_path(@source.show) },
    { text: 'Sources' },
    { text: @source.kind.capitalize },
    { text: 'Edit', link: edit_show_source_path(@source.show, @source) }
  ]

%source-form{ ':source-json': @source.to_json,
              ':show-json': @show.to_json,
              'update-url': show_source_path(@show, @source, format: :json),
              'fetch-url': fetch_show_source_path(@show, @source, format: :json),
              'generate-url': generate_show_source_path(@show, @source, format: :json),
              'delete-url': show_source_path(@show, @source),
              'cancel-url': edit_show_path(@show) }
