:ruby
  title "Add source to #{@show.title}"

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @source.show, link: show_path(@source.show) },
    { text: 'Sources' },
    { text: 'Add' }
  ]
%source-form{ ':source-json': @source.to_json,
              ':show-json': @show.to_json,
              'create-url': show_sources_path(@show, format: :json),
              'cancel-url': edit_show_path(@show) }
