- title t('user.edit.title')
.card
  .card-header= t('user.edit.header')
  .card-body

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: 'email', class: 'form-control'

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %small.text-muted= t('user.hints.email_confirmation', email: resource.unconfirmed_email)

      .form-group
        = f.label :fullname
        = f.text_field :fullname, class: 'form-control'

      .form-group.mt-3
        = f.label :country
        = f.country_select :country, {}, class: 'custom-select'

      .form-group.mt-3
        = f.label :locale
        = f.select :locale, locale_select_options(resource.locale), {}, class: 'custom-select'
        %small.form-text.text-muted= t('user.hints.locale')

      .form-group.mt-3
        = f.label :time_zone
        = f.time_zone_select :time_zone, nil, {}, class: 'custom-select'
        %small.form-text.text-muted= t('user.hints.time_zone', time: display_time(DateTime.now, '%H:%M'))

      .form-group
        .custom-control.custom-switch
          = f.check_box :email_notifications, class: 'custom-control-input'
          = f.label :email_notifications, class: 'custom-control-label'

      .d-flex.justify-content-between.mt-5
        %div
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-check
            %span.ml-1= t 'form.save'

        .text-right
          = link_to t('user.change_password'), edit_password_users_path, class: 'mr-2'
          = link_to t('user.remove_account'), registration_path(resource_name), data: { confirm: t(:confirm) },
                    method: :delete, class: 'btn btn-outline-danger'
