- title 'Create account'
.card
  .card-header Create account
  .card-body

    .d-flex.flex-wrap.flex-lg-nowrap.row-gap-5

      .flex-fill.border-right-md-none.border-right.mr-2.mr-lg-5
        = render 'devise/shared/omniauth'

      .flex-fill
        %h5.text-center.font-italic.text-muted.mb-3 Provide your credentials

        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: 'email', class: 'form-control'
          .form-group.mt-3
            = f.label :username
            = f.text_field :username, placeholder: 'Username', autocomplete: 'username', class: 'form-control'
          .form-group.mt-3
            = f.label :password
            = f.password_field :password, placeholder: 'Password', autocomplete: 'new-password', class: 'form-control'
          .form-group.mt-3
            = f.label :password_confirmation
            = f.password_field :password_confirmation, placeholder: 'Password again', autocomplete: 'new-password',
                              class: 'form-control'

          - if flash[:recaptcha_error]
            .alert.alert-danger.alert-dismissible.fade.show.mt-3{ role: :alert }
              = flash[:recaptcha_error]
              %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
                %span{ 'aria-hidden': true } &times;
          = recaptcha_v3(action: 'signup')

          .d-flex.justify-content-between.mt-5
            %div
              = button_tag type: :submit, class: 'btn btn-primary mr-4' do
                %i.fas.fa-check
                %span.ml-1 Create account

            .text-right
              = render 'devise/shared/links'
