- unless policy(person).update?

  .font-italic.alert-info.alert.d-flex
    %div
      %span.fa.fa-info-circle
    .ml-3= t('edit.hints.suggestion')

= form_with(model: person) do |form|

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control', html: { 'aria-describedby': 'person_name_info' }
    .invalid-feedback#person_name_errors

  - if person.persisted? && policy(person).update?
    .form-group
      = form.label :slug
      = form.text_field :slug, class: 'form-control', html: { 'aria-describedby': 'person_slug_info' }
      .invalid-feedback#person_slug_errors
      %small.form-text.text-muted#person_slug_info= t('hints.slug')

  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: 3
    .invalid-feedback#person_description_errors

  - if policy(person).update?
    .form-group
      = form.label :aliases
      %tag-input{ 'aria-describedby': 'person_aliases_info', class: 'form-control pl-2 h-auto',
                  ':value': person.aliases.map(&:name).to_json, name: 'person[aliases]', id: 'person_aliases' }
      .invalid-feedback#person_aliases_errors
      %small.form-text.text-muted#person_aliases_info= t('person.hints.aliases')

    .form-group
      = form.label :topics
      %tag-input{ class: 'form-control pl-2 h-auto',
                  ':value': person.topics.map(&:name).to_json, name: 'person[topics]', id: 'person_topics' }
      .invalid-feedback#person_topics_errors

    .form-group
      = form.label :image
      %image-form{ image: person_image(person), resource: :person }
      .invalid-feedback#person_image_errors

  .form-group
    = form.label :twitter
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://twitter.com/
      = form.text_field :twitter, class: 'form-control'
    .invalid-feedback#person_twitter_errors

  .form-group
    = form.label :facebook
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://facebook.com/
      = form.text_field :facebook, class: 'form-control'
    .invalid-feedback#person_facebook_errors

  .form-group
    = form.label :wikipedia
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://en.wikipedia.com/wiki/
      = form.text_field :wikipedia, class: 'form-control'
    .invalid-feedback#person_wikipedia_errors

  .form-group
    = form.label :website
    = form.text_field :website, class: 'form-control'
    .invalid-feedback#person_website_errors

  - if person.persisted? && policy(person).confirm?
    .form-group
      .custom-control.custom-checkbox
        = form.check_box :confirmed?, class: 'custom-control-input'
        = form.label :confirmed, class: 'custom-control-label'

  - if person.persisted? && policy(person).block?
    .form-group
      .custom-control.custom-checkbox
        = form.check_box :blocked?, class: 'custom-control-input'
        = form.label :blocked, class: 'custom-control-label'

  .actions.mt-4
    = button_tag type: :submit, class: 'btn btn-primary mr-4' do
      %i.fas.fa-check
      %span.ml-1= t('form.save')

    = link_to_cancel person
