- empty_message ||= t('person.index.empty')
- if people.empty?
  .card-body
    %p.card-text.text-center.text-muted.font-italic.my-5= empty_message
- else
  %ul.list-group.list-group-flush
    - people.each do |person|
      %li.list-group-item.d-flex
        // image
        .list-group-item-image
          = link_to person do
            = image_tag person_image(person), class: 'rounded shadow-sm border'

        // body
        .list-group-item-body

          // title
          %h5.list-group-item-title= link_to person.name, person

          // description
          .list-group-item-description
            - if person.description.present?
              = person.description
            - else
              .font-italic= t('description_empty')

          // meta data
          .row.list-group-item-meta
            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-tv
                %span= t('attributes.shows')
              .list-group-item-meta-value
                = person.shows.size

            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-tv
                %span= t('attributes.episodes')
              .list-group-item-meta-value
                = person.episodes.size

            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-thumbs-up
                %span= t('attributes.votes')
              .list-group-item-meta-value
                = person.vote_count

        // buttons
        - if user_signed_in?
          .list-group-item-buttons
            .dropdown
              %a{ type: :button, data: { toggle: :dropdown }, aria: { haspopup: true, expanded: false }, title: 'More' }
                %i.fa.fa-fw.fa-ellipsis-v
              .dropdown-menu.dropdown-menu-right
                - if policy(Report).create?
                  = link_to_report person, class: 'dropdown-item'

                - if policy(person).edit?
                  = link_to edit_person_path(person), class: 'dropdown-item' do
                    %i.fas.fa-fw.fa-pen
                    %span.ml-1= t('button.edit')

                - if policy(person).merge?
                  = link_to merge_person_path(person), class: 'dropdown-item' do
                    %i.fas.fa-fw.fa-compress-alt
                    %span.ml-1= t('button.merge')

                - if policy(person).destroy?
                  = link_to person, method: :delete, data: { confirm: t('confirm') },
                                    class: 'dropdown-item text-danger' do
                    %i.fas.fa-fw.fa-trash
                    %span.ml-1= t('button.destroy')
