:ruby
  title t('person.episodes.title', name: @person.name)
  meta_tag :description, t('person.episodes.description', name: @person.name)
  active_tab :episodes

-# Episodes
%paginated-list{ url: episodes_person_url(@person, format: :json), header: t('person.show.episodes', name: @person),
                 prefix: 'episodes_', 'previous-label': 'Previous', 'next-label': 'Next' }

  %template{ 'v-slot:loading': '' }
    = render 'shared/skeleton/item'

  %template{ 'v-slot:content': 'slotProps' }
    %lists-episodes{ ':collection': 'slotProps.collection', 'empty-message': t('person.show.episodes_empty') }
