:ruby
  title t('person.index.title')

.card
  .card-header.card-header-lg
    .d-flex.flex-row
      .flex-grow-1= t('person.index.title')
      - if policy(Person).create?
        = link_to new_person_path, class: 'btn btn-sm btn-secondary' do
          %i.fas.fa-plus
          %span.ml-lg-1.d-none.d-lg-inline= t('person.index.create_button')

  = render 'people/index', people: @people
