:ruby
  title t('person.merge.title', name: @person.name)

.card
  .card-header.card-header-lg
    .d-flex.flex-row
      .flex-grow-1= t('person.merge.title', name: @person.name)

  .m-5
    = form_with do
      %merge{ url: person_url(@person, format: :json),
              searchUrl: people_url(format: :json),
              headerMerge: t('person.merge.header.merge'),
              headerWith: t('person.merge.header.with'),
              placeholder: t('person.merge.placeholder'),
              mergeButton: t('person.merge.submit') }
        %template{ 'v-slot:loading': '' }
          = render 'shared/skeleton/item'

      .text-center.mt-3
        = button_tag type: :submit, class: 'btn btn-lg btn-primary' do
          %i.fas.fa-compress-alt
          %span.ml-1= t('person.merge.submit')
