:ruby
  title t('person.new.title')

  @breadcrumbs = [
    { text: t('activerecord.models.person.other'), link: people_path },
    { text: t('person.new.breadcrumb'), link: new_person_path }
  ]

.card
  .card-header= t('person.new.header')
  .card-body
    = render 'form', person: @person
