:ruby
  title @person.name
  meta_tag :description, t('person.show.description', person: @person)
  active_tab :shows

-# My votes
.card
  .card-header= t('person.show.my_votes')
  %show-list#myVotes{ url: my_person_votes_path(@person, format: :json),
                      'person-id': @person.id,
                      'empty-message': t('person.show.my_votes_empty'),
                      'hide-controls': true,
                      'show-new-show': true }
    %template{ 'v-slot:loading': '' }
      = render 'shared/skeleton/item'

-# Hosted shows
- if @person.hosted_shows.any?
  .card
    .card-header= t('person.show.hostings', name: @person)
    = render 'shows/index', shows: @person.hosted_shows.limit(10), empty_message: t('person.show.shows_empty')

-# Shows
%paginated-list{ url: shows_person_path(@person, format: :json), header: t('person.show.shows', name: @person),
                 prefix: 'shows_', 'previous-label': 'Previous', 'next-label': 'Next' }

  %template{ 'v-slot:loading': '' }
    = render 'shared/skeleton/item'

  %template{ 'v-slot:content': 'slotProps' }
    %lists-shows{ ':collection': 'slotProps.collection', 'empty-message': t('person.show.shows_empty'),
                  'person-id': @person.id }
