$('.is-invalid').removeClass('is-invalid')

<% if @person.errors.any? %>

  <%- @person.errors.each do |attribute, error| %>
    $('#person_<%= attribute %>').addClass('is-invalid')
    $('#person_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
