:ruby
  title @topic.name
  meta_tag :description, t('topic.show.description', topic: @topic.name)

.text-center
  %h1.font-weight-bold= @topic.name

.card
  .card-header= t('activerecord.models.person.other')
  = render 'people/index', people: @people

.card
  .card-header= t('activerecord.models.episode.other')
  = render 'episodes/index', episodes: @episodes

.card
  .card-header= t('activerecord.models.show.other')
  = render 'shows/index', shows: @shows

.card
  .card-header= t('activerecord.models.book.other')
  = render 'books/index', books: @books
