- title 'Admin dashboard'
.card-deck.mx-0
  .card
    .card-header
      Version
    .card-body.pt-1
      - @versions.each do |version|
        .row.py-2
          .col-6= version[:name]
          .col-6.text-monospace= version[:number]

  .card
    .card-header
      Statistics
    .card-body.pt-1
      - @statistics.each do |statistic|
        .row.py-2
          .col-6= statistic[:name].capitalize
          .col-6.text-monospace= statistic[:number]

  - if root?
    .card
      .card-header
        Recent users
      %ul.list-group.list-group-flush
        - @users.each do |user|
          %li.list-group-item
            = link_to user.username, admin_user_url(user)

.card-deck.mx-0.mt-4
  .card
    .card-header
      Recent shows
    %ul.list-group.list-group-flush
      - @shows.each do |show|
        %li.list-group-item.text-truncate
          = link_to show, show_url(show)

  .card
    .card-header
      Recent people
    %ul.list-group.list-group-flush
      - @people.each do |person|
        %li.list-group-item.text-truncate
          = link_to person, person_url(person)

  .card
    .card-header
      Recent episodes
    %ul.list-group.list-group-flush
      - @episodes.each do |episode|
        %li.list-group-item.text-truncate
          = link_to episode, episode_url(episode)
