- title 'Resources without images'
.card
  .card-header
    People without image
    %span.badge.badge-secondary.ml-2
      = @people_count
  = render 'people/index', people: @people

.card
  .card-header
    Shows without image
    %span.badge.badge-secondary.ml-2
      = @shows_count
  = render 'shows/index', shows: @shows

.card
  .card-header
    Episodes without image
    %span.badge.badge-secondary.ml-2
      = @episodes_count
  = render 'episodes/index', episodes: @episodes

.card
  .card-header
    Books without image
    %span.badge.badge-secondary.ml-2
      = @books_count
  = render 'books/index', books: @books
