- title 'Unconfirmed resources'
.card
  .card-header
    Unconfirmed guests
    %span.badge.badge-secondary.ml-2
      = @people_count

  %ul.list-group.list-group-flush
    - @people.each do |person|
      %li.list-group-item
        .d-flex.w-100.row-gap-2.flex-wrap

          // image
          = image_tag person_image(person), class: 'align-self-start rounded shadow-sm border size-100 mr-2'

          // body
          .flex-grow-1.ml-2.text-truncate
            %h5.mb-1.text-truncate= link_to person.name, person
            .d-flex.flex-row
              .mr-5
                %small.font-weight-bold.text-upper.text-muted Created by
                %div= link_to person.created_by, person.created_by

          // buttons
          %div
            - if policy(person).confirm?
              = link_to person_url(person, { person: { confirmed: 1 } }),
                        class: 'btn btn-sm btn-outline-primary mr-2',
                        data: { method: :put } do
                %i.fas.fa-check
                %span.ml-1 Confirm

            - if policy(person).destroy?
              = link_to person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
                %i.fas.fa-trash
                %span.ml-1
                  Remove

.card
  .card-header
    Unconfirmed shows
    %span.badge.badge-secondary.ml-2
      = @shows_count

  %ul.list-group.list-group-flush
    - @shows.each do |show|
      %li.list-group-item
        .d-flex.w-100.row-gap-2.flex-wrap

          // image
          = image_tag show_image(show), class: 'align-self-start rounded shadow-sm border size-100 mr-2'

          // body
          .flex-grow-1.ml-2.text-truncate
            %h5.mb-1.text-truncate= link_to show.title, show
            .d-flex.flex-row
              .mr-5
                %small.font-weight-bold.text-upper.text-muted Created by
                %div= link_to show.created_by, show.created_by

          // buttons
          %div
            - if policy(show).confirm?
              = link_to show_url(show, { show: { confirmed: 1 } }),
                        class: 'btn btn-sm btn-outline-primary mr-2',
                        data: { method: :put } do
                %i.fas.fa-check
                %span.ml-1 Confirm

            - if policy(show).destroy?
              = link_to show, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
                %i.fas.fa-trash
                %span.ml-1
                  Remove

.card
  .card-header
    Unconfirmed episodes
    %span.badge.badge-secondary.ml-2
      = @episodes_count

  %ul.list-group.list-group-flush
    - @episodes.each do |episode|
      %li.list-group-item
        .d-flex.w-100.row-gap-2.flex-wrap

          // image
          = image_tag episode_image(episode), class: 'align-self-start rounded shadow-sm border size-100 mr-2'

          // body
          .flex-grow-1.ml-2.text-truncate
            %h5.mb-1.text-truncate= link_to episode.title, episode
            .d-flex.flex-row
              .mr-5
                %small.font-weight-bold.text-upper.text-muted Created by
                %div= link_to episode.created_by, episode.created_by

          // buttons
          %div
            - if policy(episode).confirm?
              = link_to episode_url(episode, { episode: { confirmed: 1 } }),
                        class: 'btn btn-sm btn-outline-primary mr-2',
                        data: { method: :put } do
                %i.fas.fa-check
                %span.ml-1 Confirm

            - if policy(episode).destroy?
              = link_to episode, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
                %i.fas.fa-trash
                %span.ml-1
                  Remove

.card
  .card-header
    Unconfirmed books
    %span.badge.badge-secondary.ml-2
      = @books_count

  %ul.list-group.list-group-flush
    - @books.each do |book|
      %li.list-group-item
        .d-flex.w-100.row-gap-2.flex-wrap

          // image
          = image_tag book_image(book), class: 'align-self-start rounded shadow-sm border size-100 mr-2'

          // body
          .flex-grow-1.ml-2.text-truncate
            %h5.mb-1.text-truncate= link_to book, person_book_url(book.authors.first, book)
            .d-flex.flex-row
              .mr-5
                %small.font-weight-bold.text-upper.text-muted Created by
                %div= link_to book.created_by, book.created_by

          // buttons
          %div
            - if policy(book).confirm?
              = link_to person_book_url(book.authors.first, book, { book: { confirmed: 1 } }),
                        class: 'btn btn-sm btn-outline-primary mr-2',
                        data: { method: :put } do
                %i.fas.fa-check
                %span.ml-1 Confirm

            - if policy(book).destroy?
              = link_to person_book_url(book.authors.first, book), method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-sm btn-danger' do
                %i.fas.fa-trash
                %span.ml-1
                  Remove
