<%= @notification.title %>
===============================================

<%= strip_tags @notification.content %>

You are receiving this because you either voted for the guest on the show, or is following the guest.
