- title 'Change password'
.card
  .card-header Change password
  .card-body

    - if @user.errors.any?
      - @user.errors.full_messages.each do |message|
        .alert.alert-danger.alert-dismissible.fade.show{ role: :alert }
          = message
          %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;

    = form_for(@user, url: update_password_users_path, html: { method: :patch }) do |f|

      - unless @user.no_password
        .form-group.mt-3
          = f.label :current_password
          = f.password_field :current_password, placeholder: 'Current password', class: 'form-control'

      .form-group.mt-3
        = f.label :password
        = f.password_field :password, placeholder: 'New password', class: 'form-control'

      .form-group.mt-3
        = f.label :password_confirmation
        = f.password_field :password_confirmation, placeholder: 'New password again', class: 'form-control'

      .d-flex.justify-content-between.mt-5
        %div
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-check
            %span.ml-1 Save
