- title 'User controls'
.list-group
  = link_to current_user, class: 'list-group-item list-group-item-action' do
    %i.fas.fa-fw.fa-user-circle
    %span.ml-2= t('navbar.profile')

  = link_to edit_user_registration_path, class: 'list-group-item list-group-item-action' do
    %i.fas.fa-fw.fa-cog
    %span.ml-2= t('navbar.settings')

  = link_to edit_password_users_path, class: 'list-group-item list-group-item-action' do
    %i.fas.fa-fw.fa-key
    %span.ml-2= t('navbar.change_password')

  = link_to achievements_users_path, class: 'list-group-item list-group-item-action' do
    %i.fas.fa-fw.fa-key
    %span.ml-2= t('navbar.achievements')

  - if root?
    = link_to admin_dashboard_path, class: 'list-group-item list-group-item-action' do
      %i.fas.fa-fw.fa-shield-alt
      %span.ml-2= t('navbar.admin')

  = link_to destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action' do
    %i.fas.fa-fw.fa-sign-out-alt
    %span.ml-2= t('navbar.signout')
