- title 'Change password'
.card
  .card-header Change password
  .card-body

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token

      .form-group
        = f.password_field :password, placeholder: 'New password', autofocus: true, autocomplete: 'new-password',
                          class: 'form-control'
      .form-group.mt-5
        = f.password_field :password_confirmation, placeholder: 'New password again', autofocus: true,
                          autocomplete: 'new-password', class: 'form-control'

      .d-flex.justify-content-between.mt-5
      %div
        = button_tag type: :submit, class: 'btn btn-primary mr-4' do
          %i.fas.fa-check
          %span.ml-1 Change password

        .text-right
          = render 'devise/shared/links'
