- title 'Forgot password'
.card
  .card-header Forgot password
  .card-body

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

      .form-group
        = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: 'email', class: 'form-control'

      - if flash[:recaptcha_error]
        .alert.alert-danger.alert-dismissible.fade.show.mt-3{ role: :alert }
          = flash[:recaptcha_error]
          %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
      = recaptcha_v3(action: 'password/reset')

      .d-flex.justify-content-between.mt-5
        %div
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-check
            %span.ml-1 Reset password

        .text-right
          = render 'devise/shared/links'
