- share_url = request.original_url
%ul.list-inline.pb-0.mb-0
  %li.list-inline-item
    = link_to link_to_share(:facebook, share_url, share_text), class: 'btn btn-sm btn-outline-primary',
        target: '_blank' do
      %i.fab.fa-fw.fa-facebook
      %span.ml-2 Facebook

  %li.list-inline-item
    = link_to link_to_share(:twitter, share_url, share_text), class: 'btn btn-sm btn-outline-primary',
        target: '_blank' do
      %i.fab.fa-fw.fa-twitter
      %span.ml-2 Twitter

  %li.list-inline-item
    = link_to link_to_share(:pinterest, share_url, share_text), class: 'btn btn-sm btn-outline-primary',
        target: '_blank' do
      %i.fab.fa-fw.fa-pinterest
      %span.ml-2 Pinterest
