- share_url = request.original_url
.card
  .card-header= t('share.header')
  .list-group.list-group-flush
    = link_to link_to_share(:facebook, share_url, share_text), class: 'list-group-item list-group-item-action',
        target: '_blank' do
      %i.fab.fa-fw.fa-facebook
      %span.ml-2 Facebook

    = link_to link_to_share(:twitter, share_url, share_text), class: 'list-group-item list-group-item-action',
        target: '_blank' do
      %i.fab.fa-fw.fa-twitter
      %span.ml-2 Twitter

    = link_to link_to_share(:pinterest, share_url, share_text), class: 'list-group-item list-group-item-action',
        target: '_blank' do
      %i.fab.fa-fw.fa-pinterest
      %span.ml-2 Pinterest
