- unless policy(episode).update?

  .font-italic.alert-info.alert.d-flex
    %div
      %span.fa.fa-info-circle
    .ml-3= t('hints.edit')

= form_with(model: episode, url: [episode.show, episode]) do |form|

  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
    .invalid-feedback#episode_title_errors

  - if episode.persisted? && policy(episode).update?
    .form-group
      = form.label :slug
      = form.text_field :slug, class: 'form-control', html: { 'aria-describedby': 'episode_slug_info' }
      .invalid-feedback#episode_slug_errors
      %small.form-text.text-muted#episode_slug_info= t('hints.slug')

  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: 3
    .invalid-feedback#episode_description_errors

  .form-group
    = form.label :aired_at
    = form.date_field :aired_at, class: 'form-control'
    .invalid-feedback#episode_aired_at_errors

  - if policy(episode).update?
    .form-group
      = form.label :aliases
      %tag-input{ 'aria-describedby': 'episode_aliases_info', class: 'form-control pl-2 h-auto',
                  ':value': episode.aliases.map(&:name).to_json, name: 'episode[aliases]', id: 'episode_aliases' }
      .invalid-feedback#episode_aliases_errors
      %small.form-text.text-muted#episode_aliases_info= t('episode.hints.aliases')

    .form-group
      = form.label :topics
      %tag-input{ class: 'form-control pl-2 h-auto',
                  ':value': episode.topics.map(&:name).to_json, name: 'episode[topics]', id: 'episode_topics' }
      .invalid-feedback#episode_topics_errors

    .form-group
      = form.label :image
      %image-form{ image: episode_image(episode), resource: :episode }
      .invalid-feedback#episode_image_errors

    - if episode.persisted? && policy(episode).confirm?
      .form-group
        .custom-control.custom-checkbox
          = form.check_box :confirmed?, class: 'custom-control-input'
          = form.label :confirmed, class: 'custom-control-label'

    - if episode.persisted? && policy(episode).block?
      .form-group
        .custom-control.custom-checkbox
          = form.check_box :blocked?, class: 'custom-control-input'
          = form.label :blocked, class: 'custom-control-label'

  .form-group
    = form.label :youtube
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://youtube.com/watch?v=
      = form.text_field :youtube, class: 'form-control'
    .invalid-feedback#episode_youtube_errors

  .form-group
    = form.label :apple_podcast
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://podcasts.apple.com/
      = form.text_field :apple_podcast, class: 'form-control'
    .invalid-feedback#episode_apple_podcast_errors

  .form-group
    = form.label :spotify
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://open.spotify.com/episode/
      = form.text_field :spotify, class: 'form-control'
    .invalid-feedback#episode_spotify_errors

  .form-group
    = form.label :website
    = form.text_field :website, class: 'form-control'
    .invalid-feedback#episode_website_errors

  .actions.mt-4
    = button_tag type: :submit, class: 'btn btn-primary mr-4' do
      %i.fas.fa-check
      %span.ml-1= t('form.save')

    = link_to_cancel episode, show_url(episode.show)
