- empty_message ||= t('episode.index.empty')
- if episodes.empty?
  .card-body
    %p.card-text.text-center.text-muted.font-italic.my-5= empty_message
- else
  %ul.list-group.list-group-flush
    - episodes.each do |episode|
      %li.list-group-item.d-flex
        // image
        .list-group-item-image
          = link_to episode do
            = image_tag episode_image(episode), class: 'rounded shadow-sm border'

        // body
        .list-group-item-body

          // title
          %h5.list-group-item-title= link_to episode.title, episode

          // description
          .list-group-item-description
            - if episode.description.present?
              = episode.description
            - else
              .font-italic= t('description_empty')

          // meta data
          .row.list-group-item-meta

            .col-12.col-md-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-tv
                %span= t('attributes.show')
              .list-group-item-meta-value
                = link_to episode.show.title, episode.show

            .col-12.col-md-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.far.fa-fw.fa-calendar
                %span= t('attributes.aired_at')
              .list-group-item-meta-value
                = display_date(episode.aired_at, :long)

            .col-12.col-md-4.col-lg-6.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-user-tie
                %span= t('attributes.guests')
              .list-group-item-meta-value
                = episode.people.map { |p| link_to(p.name, p) }.join(', ').html_safe

        // buttons
        - if user_signed_in?
          .list-group-item-buttons
            .dropdown
              %a{ type: :button, data: { toggle: :dropdown }, aria: { haspopup: true, expanded: false } }
                %i.fa.fa-fw.fa-ellipsis-v
              .dropdown-menu.dropdown-menu-right
                - if policy(Report).create?
                  = link_to_report episode, class: 'dropdown-item'

                - if policy(episode).edit?
                  = link_to edit_show_episode_path(episode.show, episode), class: 'dropdown-item' do
                    %i.fas.fa-fw.fa-pen
                    %span.ml-1= t('button.edit')

                - if policy(episode).merge?
                  = link_to merge_show_episode_path(episode.show, episode), class: 'dropdown-item' do
                    %i.fas.fa-fw.fa-compress-alt
                    %span.ml-1= t('button.merge')

                - if policy(episode).destroy?
                  = link_to episode, method: :delete, data: { confirm: t('confirm') },
                                    class: 'dropdown-item text-danger' do
                    %i.fas.fa-fw.fa-trash
                    %span.ml-1= t('button.destroy')
