:ruby
  title "Edit #{@episode.title}"

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @episode.show, link: show_path(@episode.show) },
    { text: 'Episodes' },
    { text: @episode, link: episode_path(@episode) },
    { text: 'Edit', link: edit_show_episode_path(@episode.show, @episode) }
  ]

.card
  .card-header Edit #{@episode.title}
  .card-body
    = render 'form', episode: @episode
