$('.is-invalid').removeClass('is-invalid')
$('#error').hide()

<% if flash[:missing] %>
  $('#original_autocomplete').addClass('is-invalid')
  $('#original_autocomplete_errors').text('<%= flash[:missing] %>')
<% end %>

<% if flash[:error] %>
  $('#error').show()
  $('#error').text('<%= flash[:error] %>')
<% end %>
