:ruby
  title @episode.title
  meta_tag :description, episode_meta_description(@episode)
  meta_tag :description, episode_meta_keywords(@episode)

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @episode.show, link: show_path(@episode.show) },
    { text: 'Episodes' },
    { text: @episode, link: episode_path(@episode) }
  ]

- content_for :sidebar do

  .card
    .card-header
      .d-none.d-lg-inline Information
      .d-lg-none= @episode.title

    .card-body
      = image_tag episode_image(@episode), class: 'mb-4 rounded shadow-sm border size-200'

      %dl

        %dt= t('attributes.title')
        %dd= @episode.title

        %dt= t('attributes.show')
        %dd= link_to @episode.show.title, @episode.show

        - if @episode.aired_at
          %dt= t('attributes.aired_at')
          %dd= display_date @episode.aired_at, :long

        - if @episode.topics.size.positive?
          %dt= t('attributes.topics')
          %dd= topics_for @episode
        - elsif @episode.show.topics.size.positive?
          %dt= t('attributes.topics')
          %dd= topics_for @episode.show

        %dt= t('attributes.rating')
        %dd.pt-1
          %rating{ 'rate-url': rate_show_episode_path(@episode.show, @episode, format: :json),
                   'rating-url': rating_show_episode_path(@episode.show, @episode, format: :json) }

        - if policy(@episode).edit? && @edits.present?
          %dt= t('attributes.edits')
          %dd= link_to t('edit.link', count: @edits.size), edits_episode_path(@episode)

        - if @episode.description
          %dt= t('attributes.description')
          %dd
            %small= sanitize(@episode.description.gsub("\n", '<br/>'))

    .card-footer
      = link_to_report @episode, class: 'mr-xl-1 btn btn-sm btn-outline-danger'

      - if policy(@episode).edit?
        = link_to edit_episode_path(@episode), class: 'btn btn-sm btn-outline-primary mr-1 mr-xl-2' do
          %i.fas.fa-pen
          %span.ml-1= t 'button.edit'

      - if policy(@episode).destroy?
        = link_to @episode, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sm btn-danger' do
          %i.fas.fa-trash
          %span.ml-1= t 'button.destroy'

  = render 'shared/share_card', share_text: @episode.full_title

  - if @episode.external_links?
    .card
      .card-header External links
      .card-body
        %dl

          - if @episode.youtube.present?
            %dt
              %i.fab.fa-youtube.fa-fw
              %span.ml-1 YouTube
            %dd.text-truncate
              = link_to @episode.youtube_url, target: '_blank' do
                %span.text-muted https://youtube.com/watch?v=
                %span>= @episode.youtube

          - if @episode.apple_podcast.present?
            %dt
              %i.fab.fa-apple.fa-fw
              %span.ml-1 Apple Podcast
            %dd.text-truncate
              = link_to @episode.apple_podcast_url, target: '_blank' do
                %span.text-muted podcast.apple.com/
                %span>= @episode.apple_podcast

          - if @episode.spotify.present?
            %dt
              %i.fab.fa-spotify.fa-fw
              %span.ml-1 Spotify
            %dd.text-truncate
              = link_to @episode.spotify_url, target: '_blank' do
                %span.text-muted open.spotify.com/episode/
                %span>= @episode.spotify

          - if @episode.website.present?
            %dt
              %i.fas.fa-globe.fa-fw
              %span.ml-1 Website
            %dd.text-truncate
              = link_to @episode.website.sub(%r{^https?://(www.)?}, ''), @episode.website, target: '_blank'

- content_for :main do
  - if @episode.spotify.present?
    .card
      .card-header Listen on Spotify
      .card-body.embed-spotify= render 'shared/spotify', episode: @episode

  - if @episode.youtube.present?
    .card
      .card-header Watch on YouTube
      .card-body.embed-youtube= render 'shared/youtube', episode: @episode

  .card
    .card-header Guests on this episode
    %appearance-list{ url: show_episode_appearances_url(@episode.show, @episode, format: :json),
                      'show-add': policy(@episode).update? }
