- title t('internal_server_error.title')
.card
  .card-header
    %h4.m-0.font-weight-bold= t('internal_server_error.header')
  .card-body
    .text-center.my-3.py-3.my-lg-5.py-lg-5
      .font-weight-bold
        .font-size-100= t('internal_server_error.body.number')
        .font-size-25.mb-5= t('internal_server_error.body.name')
      %p.lead= t('internal_server_error.body.msg')
