- content_for :fluid_content do

  .container-lg

    -# Introduction
    .overflow-md-none.p-3.p-lg-0
      .row
        .col-12.col-lg-8
          %h1.mb-5
            = t 'welcome.intro.header'
            %strong= t 'welcome.intro.header_strong'

      %p.lead= t 'welcome.intro.lead'

      .text-center.my-5.py-5
        = link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
          %i.fa.fa-check
          %span.ml-2= t 'welcome.signup.button'

        %ul.list-inline.mt-4.text-muted.font-italic
          %li.list-inline-item.m-2.mx-lg-3
            %i.fas.fa-mouse
            %span.ml-1= t 'welcome.signup.one_click'

          %li.list-inline-item.m-2.mx-lg-3
            %i.far.fa-credit-card
            %span.ml-1= t 'welcome.signup.no_cc'

          %li.list-inline-item.m-2.mx-lg-3
            %i.far.fa-thumbs-up
            %span.ml-1= t 'welcome.signup.votes', count: @settings.max_votes_per_show

    -# Feature highlights
    .card.my-5
      .card-header.text-center
        %h2.font-weight-bold.m-0= t 'welcome.highlights.votes.header'
      .card-body.d-flex.justify-content-center.align-items-center.flex-wrap.flex-md-nowrap
        .text-center.m-3
          = image_tag 'highlight-vote.svg', class: 'img-fluid'
        .m-3.font-size-16
          = t('welcome.highlights.votes.body_html')
          = link_to t('welcome.highlights.votes.button'), people_path, class: 'btn btn-lg btn-primary mt-5'

    .card.my-5
      .card-header.text-center
        %h2.font-weight-bold.m-0= t 'welcome.highlights.notifications.header'
      .card-body.d-flex.justify-content-center.align-items-center.flex-wrap-reverse.flex-md-nowrap
        .m-3.font-size-16
          = t('welcome.highlights.notifications.body_html')
          = link_to t('welcome.highlights.notifications.button'), new_user_registration_path,
                    class: 'btn btn-lg btn-primary mt-5'
        .text-center.m-3
          = image_tag 'highlight-notification.svg', class: 'img-fluid'

    .card.my-5
      .card-header.text-center
        %h2.font-weight-bold.m-0= t 'welcome.highlights.discover.header'
      .card-body.d-flex.justify-content-center.align-items-center.flex-wrap.flex-md-nowrap
        .text-center.m-3
          = image_tag 'highlight-track.svg', class: 'img-fluid'
        .m-3.font-size-16
          = t('welcome.highlights.discover.body_html')
          = link_to t('welcome.highlights.discover.button'), people_path, class: 'btn btn-lg btn-primary mt-5'


  -# Open source
  .bg-primary.text-secondary.p-4.my-5
    .text-center
      %h2.font-size-25.text-uppercase= t 'welcome.opensource.header_html'
      %p.lead.font-italic.my-3= t 'welcome.opensource.lead_html'

    .container-lg.mt-5
      .d-flex.flex-wrap.flex-lg-nowrap

        .flex-fill.p-2.pb-5.pb-lg-2
          %strong.text-uppercase
            %i.fas.fa-exclamation-triangle
            %span.ml-2= t 'welcome.opensource.issues.header'
          %p.py-1.py-lg-3= t 'welcome.opensource.issues.body'
          = link_to t('welcome.opensource.issues.button'), 'https://gitlab.com/ephracis/shocadb/-/issues/new',
                    class: 'btn btn-secondary'

        .flex-fill.p-2.pb-5.pb-lg-2
          %strong.text-uppercase
            %i.far.fa-lightbulb
            %span.ml-2= t 'welcome.opensource.features.header'
          %p.py-1.py-lg-3= t 'welcome.opensource.features.body'
          = link_to t('welcome.opensource.features.button'), 'https://gitlab.com/ephracis/shocadb/-/issues/new',
                    class: 'btn btn-secondary'

        .flex-fill.p-2.pb-5.pb-lg-2
          %strong.text-uppercase
            %i.fas.fa-tools
            %span.ml-2= t 'welcome.opensource.build.header'
          %p.py-1.py-lg-3= t 'welcome.opensource.build.body'
          = link_to t('welcome.opensource.build.button'), 'https://gitlab.com/ephracis/shocadb',
                    class: 'btn btn-secondary'
