- if books.empty?
  .card-body
    %p.card-text.text-center.text-muted.font-italic.my-5= t('book.index.empty')
- else
  .card-body
    .row
      - books.each do |book|
        - person ||= book.authors.first
        .col-md-6.col-lg-4.col-xl-3
          %div
            = link_to person_book_path(person, book) do
              = image_tag book_image(book), width: 200, height: 300, class: 'border'
          .mt-2= link_to book.name, person_book_path(person, book)
          .mt-2
            - if policy(book).edit?
              = link_to edit_person_book_path(person, book), class: 'btn btn-sm btn-outline-primary mr-2' do
                %i.fas.fa-fw.fa-pen
                %span.ml-1= t('button.edit')

            - if policy(book).edit?
              = link_to person_book_path(person, book), class: 'btn btn-sm btn-danger',
                        data: { method: :delete, confirm: t('confirm') } do
                %i.fas.fa-fw.fa-trash-alt
                %span.ml-1= t('button.destroy')
