:ruby
  title t('book.index.title', person: @person)
  meta_tag :description, t('book.index.description', person: @person)
  active_tab :books

.card
  .card-header= t('book.index.title', person: @person)
  = render 'books/index', books: @books, person: @person
  - if policy(@person.books).create?
    .card-footer
      = link_to new_person_book_path(@person), class: 'btn btn-sm btn-primary' do
        %i.fas.fa-plus
        %span.ml-lg-1.d-none.d-lg-inline= t('book.index.create_button')
