:ruby
  title t('book.new.title')

  @breadcrumbs = [
    { text: t('activerecord.models.book.other'), link: people_path },
    { text: @person, link: person_path(@person) },
    { text: t('activerecord.models.book.other'), link: person_books_path(@person) },
    { text: t('book.new.breadcrumb'), link: new_person_book_path(@person) }
  ]

.card
  .card-header= t('book.new.title')
  .card-body
    = form_with(model: @book, url: [@person, @book]) do |form|

      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control'
        .invalid-feedback#book_name_errors

      .actions.mt-4
        = button_tag type: :submit, class: 'btn btn-primary mr-4' do
          %i.fas.fa-check
          %span.ml-1= t('form.save')

        = link_to t('form.cancel'), person_books_path(@person)

