$('.is-invalid').removeClass('is-invalid')

<% if @book.errors.any? %>

  <%- @book.errors.each do |attribute, error| %>
    $('#book_<%= attribute %>').addClass('is-invalid')
    $('#book_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
