.achievement
  display: flex
  flex-direction: row
  margin-bottom: 1em
  align-items: center

  &.achievement-unearned
    opacity: 0.5

  .achievement-image-shadow
    width: 80px
    height: 80px
    flex-grow: 0
    flex-shrink: 0
    border-radius: 50%
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    z-index: 1
    position: absolute

  .achievement-image
    background: $secondary
    color: $primary
    border: 10px solid $primary
    width: 80px
    height: 80px
    border-radius: 50%
    z-index: 5
    flex-grow: 0
    flex-shrink: 0
    display: flex
    justify-content: center
    align-items: center
    font-size: 40px

  .achievement-images
    width: 80px
    height: 80px
    flex-grow: 0
    flex-shrink: 0
    border-radius: 50%
    background: $secondary
    color: $primary
    border: 3px solid $primary
    display: flex
    justify-content: center
    align-items: center
    font-size: 60px
    z-index: 3

  .achievement-body
    border-top-right-radius: 0.25rem
    border-bottom-right-radius: 0.25rem
    padding: 0.5rem 0.6rem 0.5rem calc(40px + 0.6rem)
    margin-left: -40px
    background: $primary
    color: $secondary
    position: relative
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    z-index: 2
    flex-grow: 1

    .achievement-header
      display: flex
      flex-direction: row
      h5
        text-transform: uppercase
        flex-grow: 1
      .achievement-level
        .achievement-level-filled
          color: transparentize($secondary,0.3)
        .achievement-level-empty
          color: rgba(0,0,0,0.5)

    .achievement-description
      color: transparentize($secondary,0.5)
