.breadcrumb
  background-color: transparent
  color: $gray-600
  padding: 0
  font-size: 10pt

  .breadcrumb-item
    max-width: 120px
    &.active
      color: $gray-500
      max-width: 400px
    &::before
      color: $gray-500
      font-size: 6pt
      padding-top: 0.25rem

@include media-breakpoint-down(md)
  .breadcrumb
    background-color: $primary
    color: $secondary
    margin-bottom: 0
    border-radius: 0
    padding: 0.3em 1.5em

    .breadcrumb-item
      a
        color: $secondary
      &.active
        color: $gray-400
      &::before
        color: $gray-500

  .breadcrumb-empty
    height: 0
    margin: 0
    padding: 0
