.card
  margin-bottom: 2em

  .card-header
    text-transform: uppercase
    font-size: 0.8em
    font-weight: bold
    color: map-get($theme-colors, 'light')
    background-color: map-get($theme-colors, 'primary')

  .card-header-lg
    font-size: 1.3em

  dl
    padding-bottom: 0
    margin-bottom: 0

  dd
    margin-bottom: 1rem

  dd:last-child
    margin-bottom: 0

@include media-breakpoint-up(lg)
  .card
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important

@include media-breakpoint-down(md)
  .card
    border-radius: 0
    border-left: 0
    border-right: 0
    border-bottom: 0
    margin-bottom: 0
    padding-bottom: 2em

    .card-header
      border-radius: 0

    .card-footer
      border-bottom: $card-border-width solid $card-border-color
