.content
  min-height: 100%
  margin-bottom: -50px
  padding-bottom: 5rem !important

.footer
  backdrop-filter: blur(20px)
  background: rgba(255,255,255,0.5)
  min-height: 50px
  padding: 0.5rem

  ul
    padding: 0
    margin: 0

@include media-breakpoint-down(md)
  .footer
    background: none
    box-shadow: none !important
    opacity: 0.6

    .list-inline
      text-align: center
