.form-minimal
  .form-group
    input.form-control
      background: transparent
      border: 0
      border-radius: 0
      border-bottom: 1px solid rgba(0,0,0,0.5)

      &:focus
        border-top: 0

.form-links
  a
    color: rgba(0,0,0,0.5)
    &:hover
      color: rgba(0,0,0,1)

.form-group
  .input-group
    .input-group-prepend
      .custom-select
        border-top-right-radius: 0
        border-bottom-right-radius: 0

  .input-image-preview
    .ph-item
      width: 250px
      padding: 0

      .ph-col-12
        padding-left: 3px
        padding-top: 3px
        padding-right: 3px
        margin-bottom: 3px

@include media-breakpoint-down(md)
  input[type='text'], input[type='password'], input[type='email']
    font-size: 16px
