.card
  dl
    dt
      text-transform: uppercase
      font-size: 0.7em
      color: $text-muted
      font-weight: bold
      
  .pagination
    .page-gap
      align-self: center
      padding: 0 .7rem

    .page-item

      .page-link
        border-radius: 0
        background-color: transparent
        &:hover
          background-color: $pagination-hover-bg

      &.active
        .page-link
          background-color: $pagination-active-bg

.list-group-item-action:hover
  background-color: $gray-300

.list-group-item

  .list-group-item-image
    margin-right: 1rem
    img
      width: 100px

  .list-group-item-body
    margin-right: 1rem
    flex-grow: 1
    min-width: 0

    h5
      font-size: 1.2rem
      margin-bottom: 0

    .list-group-item-title, .list-group-item-description, .list-group-item-meta-value
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

    .list-group-item-description
      color: $text-muted
      height: 1.5em

    .list-group-item-meta
      font-size: 0.8rem

      .list-group-item-meta-group
        padding-top: 0.5rem
        display: flex
        flex-direction: column

      .list-group-item-meta-label
        font-weight: bold
        text-transform: upper
        color: $text-muted

        span
          padding-left: 0.2rem

      .list-group-item-meta-value
        color: $text-muted

  .list-group-item-buttons
    
    .dropdown-menu span
      margin-left: 0.2rem

@include media-breakpoint-down(md)
  .list-group-item

    .list-group-item-image
      margin-right: 0.5rem
      img
        width: 75px

    .list-group-item-body
      margin-right: 0.5rem
      h5
        font-size: 1rem

      .list-group-item-meta
        font-size: 0.8rem

        .list-group-item-meta-group
          padding-top: 0.5rem
          flex-direction: row
          .list-group-item-meta-label span
            display: none
          .list-group-item-meta-value
            padding-left: 0.3rem
