.media
  h5
    a
      color: $dark

.small-image
  height: 2em

.embed-spotify
  padding: 0.2rem
  margin-bottom: -0.4rem

.embed-youtube
  padding: 0
  margin-bottom: -0.4rem

  iframe
    height: 420px
    width: 100%

@include media-breakpoint-down(sm)
  .embed-youtube iframe
    height: 150px

@include media-breakpoint-down(md)
  .embed-youtube iframe
    height: 250px
