nav.navbar
  color: map-get($theme-colors, 'primary')

  .form-search
    background-color: transparent !important
    border: 1px solid map-get($theme-colors, 'primary')
    color: map-get($theme-colors, 'primary')

    &::placeholder
      color: transparentize(map-get($theme-colors, 'primary'), 0.5)

  #user-menu
    img
      height: 1.6em

@include media-breakpoint-down(md)

  nav.navbar
    color: map-get($theme-colors, 'secondary')
    background-color: map-get($theme-colors, 'primary')

    #nav-links
      justify-content: space-evenly

      .nav-link
        flex-direction: column !important
        justify-content: center
        text-align: center
        color: map-get($theme-colors, 'secondary')

        .nav-link-icon
          font-size: 1em

        .nav-link-label
          font-size: 0.6em
          line-height: normal
