.notifications

  .dropdown-menu
    width: 25rem
    padding: 0

  .list-group-item
    img
      width: 4rem
      height: 4rem
    h5
      font-size: 1.1em
      font-weight: bold
    p
      font-size: 0.9em

    &.notification-read
      opacity: 0.8
      background: rgba(0,0,0,0.05)

    &.notification-unread
      border-left: 3px solid theme-color('primary')

  .fa-layers
    font-size: 1.4em
    vertical-align: middle
    .fa-layers-counter
      font-size: 2em
      right: -0.1em
