.profile
  .profile-image
    z-index: 2
    margin-left: 1rem

    img
      max-height: 200px
      max-width: 200px

  .profile-header
    margin-top: -6rem
    padding: 0.8rem 1rem 0.4rem

    .profile-title
      margin-left: calc(200px + 2rem)
      padding-bottom: 1rem

    .nav
      .nav-item
        margin-right: 3rem
        &:last-child
          margin-right: 0

        a.nav-link.active
          border-bottom: 3px solid $secondary

    .profile-header-list
      font-size: 10pt
      margin-top: 0.2rem

      a:hover
        text-decoration: none

      li.profile-header-list-item
        margin-right: 2rem

        &::last-child
          margin-right: 0

  &.profile-duo

    .profile-duo-images img
      width: auto
      height: 200px

    .profile-duo-plus
      font-size: 64pt
      padding: 0rem 3rem

    .profile-duo-header
      margin-top: -3rem
      padding-top: 4rem

.text-secondary a:not(.btn-secondary)
  color: $secondary

  &:hover
    color: darken($secondary, $emphasized-link-hover-darken-percentage)

@include media-breakpoint-down(md)
  .profile
    margin-top: 1rem

    .profile-header, .profile-duo-header
      border-radius: 0px !important

    .profile-image
      img
        max-height: 100px
        max-width: 100px

    .profile-header
      margin-top: -3rem
      padding: 0.2rem 0.4rem 0.4rem 1.5rem
      row-grap: 0.4rem
      overflow-x: hidden

      .profile-header-list-item
        padding-top: 0.4rem
        padding-bottom: 0.4rem

      .profile-title
        margin-left: 0
        padding-bottom: 1rem

        h2
          font-size: 16pt
          margin-left: calc(100px + 1.5rem)

      .nav
        flex-wrap: nowrap
        overflow-x: auto
        
        .nav-item
          margin-right: 0.5rem

    &.profile-duo
      .profile-duo-images img
        width: 100px
        height: auto

      .profile-duo-plus
        font-size: 20pt
        padding: 0rem 1rem

      .profile-duo-header
        h2
          padding-top: 1rem
          font-size: 18pt
        .lead
          font-size: 12pt

@include media-breakpoint-down(sm)
  .profile
    .profile-image
      img
        max-height: 70px
        max-width: 70px

    .profile-header
      padding: 0.6rem 1rem 0.4rem

      .profile-title h2
        padding-bottom: 1rem
        margin-left: calc(70px + 1.5rem)

      .nav .nav-item a.nav-link
        padding: 0.2rem 0.6rem
