.skeleton

  .skeleton-image, .skeleton-header, .skeleton-line
    background: $gray-500
    position: relative
    overflow: hidden
    opacity: 0.5

    &::before
      position: absolute
      top: 0
      bottom: 0
      left: 50%
      right: 0
      width: 1000%
      background: linear-gradient(to right, rgba(white, 0) 30%, rgba(white, 0.2) 50%, rgba(white, 0) 70%) 50% 50%
      animation: skeletonAnimation 0.8s linear infinite
      content: " "
      z-index: 1
      margin-left: -500%

  .skeleton-image
    width: 50px
    height: 50px

  .skeleton-header
    background: $gray-500
    height: 1rem
    border-radius: 3px

  .skeleton-line
    background: $gray-500
    height: .6rem
    border-radius: 2px

@keyframes skeletonAnimation
  0%
    transform: translate3d(-30%, 0, 0)

  100%
    transform: translate3d(30%, 0, 0)
