.min-w-0
  min-width: 0

.size-15
  max-width: 15px
  max-height: 15px

.size-20
  max-width: 20px
  max-height: 20px

.size-25
  max-width: 25px
  max-height: 25px

.size-30
  max-width: 30px
  max-height: 30px

.size-35
  max-width: 35px
  max-height: 35px

.size-50
  max-width: 50px
  max-height: 50px

.size-75
  max-width: 75px
  max-height: 75px

.size-100
  max-width: 100px
  max-height: 100px

.size-150
  max-width: 150px
  max-height: 150px

.size-200
  max-width: 200px
  max-height: 200px

.size-250
  max-width: 250px
  max-height: 250px

.size-300
  max-width: 300px
  max-height: 300px

.size-500
  max-width: 500px
  max-height: 500px

@include media-breakpoint-up(sm)
  .size-sm-50
    max-width: 50px
    max-height: 50px

  .size-sm-75
    max-width: 75px
    max-height: 75px

  .size-sm-100
    max-width: 100px
    max-height: 100px

  .size-sm-150
    max-width: 150px
    max-height: 150px

  .size-sm-200
    max-width: 200px
    max-height: 200px

  .size-sm-250
    max-width: 250px
    max-height: 250px

  .size-sm-300
    max-width: 300px
    max-height: 300px

  .size-sm-500
    max-width: 500px
    max-height: 500px

@include media-breakpoint-up(md)
  .size-md-50
    max-width: 50px
    max-height: 50px

  .size-md-75
    max-width: 75px
    max-height: 75px

  .size-md-100
    max-width: 100px
    max-height: 100px

  .size-md-150
    max-width: 150px
    max-height: 150px

  .size-md-200
    max-width: 200px
    max-height: 200px

  .size-md-250
    max-width: 250px
    max-height: 250px

  .size-md-300
    max-width: 300px
    max-height: 300px

  .size-md-500
    max-width: 500px
    max-height: 500px

@include media-breakpoint-up(lg)
  .size-lg-50
    max-width: 50px
    max-height: 50px

  .size-lg-75
    max-width: 75px
    max-height: 75px

  .size-lg-100
    max-width: 100px
    max-height: 100px

  .size-lg-150
    max-width: 150px
    max-height: 150px

  .size-lg-200
    max-width: 200px
    max-height: 200px

  .size-lg-250
    max-width: 250px
    max-height: 250px

  .size-lg-300
    max-width: 300px
    max-height: 300px

  .size-lg-500
    max-width: 500px
    max-height: 500px

@include media-breakpoint-up(xl)
  .size-xl-50
    max-width: 50px
    max-height: 50px

  .size-xl-75
    max-width: 75px
    max-height: 75px

  .size-xl-100
    max-width: 100px
    max-height: 100px

  .size-xl-150
    max-width: 150px
    max-height: 150px

  .size-xl-200
    max-width: 200px
    max-height: 200px

  .size-xl-250
    max-width: 250px
    max-height: 250px

  .size-xl-300
    max-width: 300px
    max-height: 300px

  .size-xl-500
    max-width: 500px
    max-height: 500px
