- title 'User administration'
.card
  .card-header User administration
  %ul.list-group.list-group-flush
    - @users.each do |user|

      %li.list-group-item
        .d-flex.w-100.row-gap-2

          // image
          = user_gravatar(user, 50, class: 'align-self-start rounded shadow-sm border size-100 mr-2')

          // body
          .flex-grow-1.ml-2
            %h5.mb-1= link_to user, admin_user_url(user)
            .row
              .col-8.col-md-4.col-lg-6
                %small.font-weight-bold.text-upper.text-muted Email
                .text-truncate= user.email
              .col-0.col-md-4.col-lg-3.d-none.d-md-block
                %small.font-weight-bold.text-upper.text-muted Username
                .text-truncate= user.username
              .col-4.col-md-4.col-lg-3
                %small.font-weight-bold.text-upper.text-muted Signed up
                .text-truncate= display_time user.created_at
