- unless policy(show).update?

  .font-italic.alert-info.alert.d-flex
    %div
      %span.fa.fa-info-circle
    .ml-3= t('hints.edit')

= form_with(model: show, multipart: true) do |form|

  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
    .invalid-feedback#show_title_errors

  - if show.persisted? && policy(show).update?
    .form-group
      = form.label :name
      = form.text_field :name, class: 'form-control', 'aria-describedby': 'show_name_info'
      .invalid-feedback#show_name_errors
      %small.form-text.text-muted#show_name_info
        Must only contain lower case, underscore and dash characters.

  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: 3
    .invalid-feedback#show_description_errors

  - if policy(show).update?
    .form-group
      = form.label :topics
      %tag-input{ class: 'form-control pl-2 h-auto',
                  ':value': show.topics.map(&:name).to_json, name: 'show[topics]' }
      .invalid-feedback#show_topics_errors

    .form-group
      = form.label :image
      %image-form{ image: show_image(show) }
      .invalid-feedback#show_image_errors

    .form-group
      = form.label :hosts
      %host-list.mb-3{ name: 'show[hosts]',
                  ':value': show.hosts.to_json,
                  'show-add': policy(show).update?,
                  'show-remove': policy(show).update?,
                  'empty-label': 'This show has no hosts.',
                  'remove-label': 'Remove',
                  'add-placeholder-label': 'Name of host',
                  'add-label': 'Add host',
                  'default-image': asset_path('placeholder-person.jpg') }
      .invalid-feedback#person_hosts_errors

    - if show.persisted?
      .form-group
        = form.label :sources
        %source-list{ 'new-source-path': new_show_source_path(show),
                      ':sources': render(partial: 'sources/index', locals: { sources: show.sources }, formats: :json) }

      - if policy(show).confirm?
        .form-group
          .custom-control.custom-checkbox
            = form.check_box :confirmed?, class: 'custom-control-input'
            = form.label :confirmed, class: 'custom-control-label'

      - if policy(show).block?
        .form-group
          .custom-control.custom-checkbox
            = form.check_box :blocked?, class: 'custom-control-input'
            = form.label :blocked, class: 'custom-control-label'

  .form-group
    = form.label :youtube
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://youtube.com/channel/
      = form.text_field :youtube, class: 'form-control'
    .invalid-feedback#show_youtube_errors

  .form-group
    = form.label :twitter
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://twitter.com/
      = form.text_field :twitter, class: 'form-control'
    .invalid-feedback#show_twitter_errors

  .form-group
    = form.label :facebook
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://facebook.com/
      = form.text_field :facebook, class: 'form-control'
    .invalid-feedback#show_facebook_errors

  .form-group
    = form.label :apple_podcast
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://podcasts.apple.com/
      = form.text_field :apple_podcast, class: 'form-control'
    .invalid-feedback#show_apple_podcast_errors

  .form-group
    = form.label :spotify
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://open.spotify.com/show/
      = form.text_field :spotify, class: 'form-control'
    .invalid-feedback#show_spotify_errors

  .form-group
    = form.label :wikipedia
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text https://en.wikipedia.com/wiki/
      = form.text_field :wikipedia, class: 'form-control'
    .invalid-feedback#show_wikipedia_errors

  .form-group
    = form.label :website
    = form.text_field :website, class: 'form-control'
    .invalid-feedback#show_website_errors

  .actions.mt-4
    = button_tag type: :submit, class: 'btn btn-primary mr-4' do
      %i.fas.fa-check
      %span.ml-1= t('form.save')

    = link_to_cancel show
