:ruby
  title "Edit #{@show.title}"

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @show.title, link: show_path(@show) },
    { text: 'Edit', link: edit_show_path(@show) }
  ]

.card
  .card-header Edit #{@show.title}
  .card-body
    = render 'form', show: @show
