:ruby
  title 'Popular podcast shows'

.card
  .card-header.card-header-lg
    .d-flex.flex-row
      .flex-grow-1 Shows

      - if policy(Show).create?
        = link_to new_show_path, class: 'btn btn-sm btn-secondary' do
          %i.fas.fa-plus
          %span.ml-lg-1.d-none.d-lg-inline Add show

  = render 'shows/index', shows: @shows
