:ruby
  title 'Add show'

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: 'Add', link: new_show_path }
  ]

.card
  .card-header Add show
  .card-body
    = render 'form', show: @show
