- title(params[:q].present? ? params[:q] : 'Search')
%search.m-3{ resultType: 'listgroup',
             inputClass: 'form-control form-control-sm form-search px-3 py-2',
             autofocus: true,
             query: params[:q] }
