- title 'Edit report'
.card
  .card-header Edit report
  .card-body
    = form_with(model: @report) do |form|

      .form-group
        = form.label :reportable
        = form.text_field :reportable, class: 'form-control', readonly: true
        = form.hidden_field :reportable_id
        = form.hidden_field :reportable_type
        .invalid-feedback#report_reportable_errors

      .form-group
        = form.label :category
        - category_options = options_for_select(%w[Spam Incorrect Abusive], @report.category)
        = form.select :category, category_options, {}, class: 'custom-select'
        .invalid-feedback#report_category_errors

      .form-group
        = form.label :comment
        = form.text_field :comment, class: 'form-control'
        .invalid-feedback#report_comment_errors

      .form-group
        .custom-control.custom-switch
          = form.check_box :read, class: 'custom-control-input'
          = form.label :read, class: 'custom-control-label'

      .actions.d-flex.mt-5
        .flex-grow-1
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-check
            %span.ml-1 Save
          = link_to 'Cancel', admin_reports_path

        %div
          - if policy(@report).destroy?
            = link_to @report, data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' do
              %i.fas.fa-trash
              %span.ml-1 Remove
