- title 'Reports'
.card
  .card-header Reports
  %ul.list-group.list-group-flush
    - @reports.each do |report|

      %li.list-group-item
        .d-flex.align-items-top
          .mr-2
            - if report.read
              %i.mr-1.far.fa-flag
            - else
              %i.mr-1.fas.fa-flag
          .flex-grow-1
            .mb-1
              %span User
              %span
                = link_to report.user, report.user
              %span reported #{report.reportable.class.to_s.downcase}
              %span
                = link_to report.reportable, report.reportable
              %span as #{report.category.downcase}.
            .mb-1.text-muted.font-italic= report.comment
            .mt-2
              - if policy(report).update?
                = link_to edit_admin_report_path(report), class: 'btn btn-sm btn-outline-primary' do
                  %i.far.fa-eye
                  View

              - if policy(report).destroy?
                = link_to report, data: { method: :delete, confirm: 'Are you sure?' },
                                  class: 'btn btn-sm btn-danger ml-2' do
                  %i.fas.fa-trash
                  %span.ml-1 Remove
