$('.is-invalid').removeClass('is-invalid')

<% if @report.errors.any? %>

  <%- @report.errors.each do |attribute, error| %>
    $('#report_<%= attribute %>').addClass('is-invalid')
    $('#report_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
