%nav{ 'aria-label': :breadcrumb }
  - if @breadcrumbs.present?
    %ol.breadcrumb
      - @breadcrumbs.each_with_index do |breadcrumb, index|
        - if index == @breadcrumbs.size - 1
          %li.breadcrumb-item.text-truncate.active{ 'aria-current': 'page' }
            = breadcrumb[:text]
        - else
          %li.breadcrumb-item.text-truncate
            - if breadcrumb[:link].present?
              = link_to breadcrumb[:text], breadcrumb[:link]
            - else
              = breadcrumb[:text]
  - else
    %ol.breadcrumb.breadcrumb-empty
      %li.breadcrumb-item &nbsp;
