- unless Rails.env.test?
  = javascript_include_tag GoogleAnalytics::JS_URL, async: true
  %script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    - if user_signed_in?
      gtag('config', '#{GoogleAnalytics::TRACKING_ID}', { 'user_id': #{current_user.id} });
    - else
      gtag('config', '#{GoogleAnalytics::TRACKING_ID}');

    - if session[:events].present?
      - session[:events].each do |event|
        gtag('event', '#{event[:name]}', #{event[:parameters].to_json.html_safe});
      - session[:events] = []
