%nav.navbar.navbar-expand.sticky-top.p-0.p-md-2.p-lg-3.p-xl-4#navbar

  .navbar-brand.d-none.d-lg-block
    = link_to 'ShocaDB', root_url

  .navbar-collapse

    %ul.navbar-nav.flex-fill#nav-links

      %li.nav-item.ml-2.ml-lg-3.ml-xl-4
        = navbar_link '', shows_path, controller: :shows do
          .nav-link-icon
            %i.fas.fa-microphone-alt
          .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.shows'

      %li.nav-item.ml-2.ml-lg-3.ml-xl-4
        = navbar_link '', people_path, controller: :people do
          .nav-link-icon
            %i.fas.fa-user-tie
          .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.guests'

      %li.nav-item.ml-2.ml-lg-3.ml-xl-4.d-lg-none
        = navbar_link '', search_path, controller: :application, action: :search do
          .nav-link-icon
            %i.fas.fa-search
          .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.search'

      - if user_signed_in?
        %li.nav-item.ml-2.ml-lg-3.ml-xl-4.d-lg-none
          = navbar_link '', notifications_path, controller: :notifications do
            .nav-link-icon
              %notification-bell
            .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.notifications'

        %li.nav-item.ml-2.ml-lg-3.ml-xl-4.d-lg-none
          = navbar_link '', navigation_users_path, controller: :users do
            .nav-link-icon
              %i.fas.fa-user-circle
            .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.account'

      - else
        %li.nav-item.ml-2.ml-lg-3.ml-xl-4.d-lg-none
          = navbar_link '', new_user_session_path do
            .nav-link-icon
              %i.fas.fa-sign-in-alt
            .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.signin'

      - if admin?
        %li.nav-item.ml-2.ml-lg-3.ml-xl-4.d-none.d-lg-block
          = navbar_link '', admin_dashboard_path, controller: :admin do
            .nav-link-icon
              %span.fa-layers.fa-fw
                %i.fas.fa-shield-alt
                - if unconfirmed_count.positive?
                  %span.fa-layers-counter &nbsp;
            .nav-link-label.ml-lg-2.ml-xl-3= t 'navbar.admin'

    = form_tag root_path, method: :get, class: 'form-inline my-2 my-lg-0 mr-2 d-none d-lg-block' do
      .form-group
        %search{ placeholder: t('navbar.search') }

    %ul.navbar-nav.d-none.d-lg-flex#nav-auth
      - if user_signed_in?

        %notification-menu

        %li.nav-item.ml-2.ml-lg-3.ml-xl-4.dropdown
          %a.nav-link.dropdown-toggle#user-menu{ href: '#', role: :button, 'data-toggle': :dropdown,
                                                 'aria-haspopup': true, 'aria-expanded': false }
            = user_gravatar(current_user, nil)
          .dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'user-menu' }
            = link_to t('navbar.profile'), current_user, class: 'dropdown-item'
            = link_to t('navbar.settings'), edit_user_registration_path, class: 'dropdown-item'
            = link_to t('navbar.achievements'), achievements_users_path, class: 'dropdown-item'
            = link_to t('navbar.change_password'), edit_password_users_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to t('navbar.signout'), destroy_user_session_path, method: :delete, class: 'dropdown-item'

      - else
        %li.nav-item.ml-2.ml-lg-3.ml-xl-4
          = link_to new_user_session_path, class: 'nav-link d-flex flex-row' do
            .nav-link-icon
              %i.fas.fa-sign-in-alt
            .nav-link-label.ml-lg-2.ml-xl-3= t('navbar.signin')
