- content_for :content do

  %h1.mb-3.text-uppercase.font-weight-bold.text-center Admin area

  .py-3
    %ul.nav.nav-pills.justify-content-center
      %li.nav-item.mx-1
        = navbar_link 'Dashboard', admin_dashboard_path, '/admin/dashboard'

      - if root?
        %li.nav-item.mx-1
          = navbar_link 'Users', admin_users_path, controller: 'admin/users'

      - if admin?
        %li.nav-item.dropdown.mx-1
          %a.nav-link.dropdown-toggle{ 'data-toggle': :dropdown, role: :button,
                                      'aria-haspopup': true, 'aria-expanded': false } Resources
          .dropdown-menu
            = link_to 'Unconfirmed', admin_unconfirmed_path, class: 'dropdown-item'
            = link_to 'Imageless', admin_imageless_path, class: 'dropdown-item'

      - if admin?
        %li.nav-item.mx-1
          = navbar_link 'Reports', admin_reports_path, controller: 'reports'

      - if root?
        %li.nav-item.mx-1
          = navbar_link 'Settings', admin_settings_path, controller: 'admin/settings'

    .mt-4
      = yield

= render template: 'layouts/application'
