!!! 5

%html{ lang: 'en' }

  %head

    %title
      = "#{yield(:title)} - ".html_safe if content_for?(:title)
      ShocaDB

    %meta{ name: :description, content: yield_meta_tag(:description, default_meta_description) }
    %meta{ name: :keywords, content: yield_meta_tag(:keywords, default_meta_keywords) }

    = csrf_meta_tags
    = csp_meta_tag
    = render 'layouts/google_analytics'
    = render 'layouts/google_adsense'
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

  %body
    .d-flex.flex-column#app
      %header.order-2.order-lg-0
        = render 'layouts/navbar'
      %main.order-0.order-lg-1
        %alerts
        - if content_for?(:fluid_content)
          .container-fluid.p-0.content
            .container-lg.p-0
              = render 'layouts/alerts'
            = yield(:fluid_content)
        - else
          .container-lg.p-0.content
            = render 'layouts/breadcrumbs'
            = render 'layouts/alerts'
            = content_for?(:content) ? yield(:content) : yield
        = render 'layouts/footer'
